# Auth
BETTER_AUTH_SECRET="your_secret_key"

## OAuth
### Google
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

### PocketID
POCKETID_CLIENT_ID="your_pocketid_client_id"
POCKETID_CLIENT_SECRET="your_pocketid_client_secret"
POCKETID_BASE_URL="https://pocketid.domain.com"

# Logging
LOG_LEVEL="info"
NO_COLOR="false"

# SMTP
SMTP_PORT="587"
SMTP_HOST="smtp.example.com"
SMTP_USERNAME="username"
SMTP_PASSWORD="password"
EMAIL_FROM="admin@example.com"

# Discord
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your_webhook_url"

# Database

## Mongo
MONGO_URL="mongodb://localhost:27017"

## Redis
REDIS_URL="redis://localhost:6379"